:root {
  --main-dark-color: #2b2d42;
  --main-gray-color: #8d99ae;
  --main-white-color: #edf2f4;
}

* {
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

body {
  background-color: var(--main-dark-color);
  color: var(--main-white-color);
}

.sidebar {
  position: fixed;
  height: calc(100vh - 50px);
  width: 100%;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translate(100%);
  opacity: 0%;
  transition: all 0.5s ease-in-out;
  background: var(--main-gray-color);
  z-index: 9999;
}

.show_side_bar {
  opacity: 100%;
  transform: translateX(0);
}
.sidebar__menu {
  font-size: 1.4rem;
  margin-left: 0.3em;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}
.sidebar__list__item {
  padding: 1rem;
  font-size: 1.35rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}
.sidebar__list__item a {
  text-decoration: none;
  color: var(--main-dark-color);
}
.sidebar__list__item a.active {
  color: crimson;
  border-bottom: 2px solid crimson;
}
.inactive {
  color: var(--main-dark-color) !important;
}

.sidebar__break {
  border: 1px dashed var(--main-dark-color);
  width: 50%;
  margin-left: 8%;
  /* margin: 0 auto; */
  /* width: 100%; */
}
.sidebar__mobile {
  display: none;
}

.disabled {
  cursor: not-allowed;
}
.icon {
  /* margin-right: 0.5rem; */
  color: var(--main-dark-color);
}

/* hero */

.hero {
  position: relative;
  width: 100%;
  max-height: 250px;
}

.hero__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}
.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 0.4em;
  font-weight: 400;
}

.hero__form {
  margin-top: 1em;
}

.hero__search {
  border-radius: 25px;
  border: none;
  opacity: 0.8;
  font-size: 1.5rem;
  text-indent: 10px;
}
.movie__search {
  text-indent: 10px;
  /* width: 100%; */
  font-size: 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  opacity: 0.8;
}
.movie__search:focus {
  outline: none;
}
.movie__search__value {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.movie__search__title,
.hero__title {
  margin: 0.5em 0;
  text-align: center;
}
/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid var(--main-gray-color); */
  color: var(--main-dark-color);
  padding: 0.5em 1em;
  background: var(--main-gray-color);
  border-top: 3px solid var(--main-dark-color);
  border-bottom: 3px solid var(--main-dark-color);
}
.navbar__title {
  font-size: 1.5rem;
}
.navbar__title a {
  text-decoration: none;
  color: var(--main-dark-color);
}
.navbar__icon {
  font-size: 2rem;
}

.navbar__search {
  position: relative;
  /* width: 100%; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.navbar__search__button {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--main-gray-color);
  border: none;
  /* padding: 1em; */
  cursor: pointer;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* display: grid;
  margin-top: 1em;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center; */
}

.card__overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999px;
}
.card__overlay--show {
  display: flex;
  color: white;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999px;
}

.card__overlay__title {
  color: white;
  font-size: 1.5rem;
  margin-top: 1em;
  text-align: center;
}
.card__overlay__button {
  background-color: crimson;
  border-radius: 10px;
  color: #fff;
  padding: 4px 20px 4px 8px;
  border: none;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}
/*movie card */
.movie__card {
  border-radius: 5px;
  /* width: 200px; */
  position: relative;
  margin: 1em 0.5em;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.movie__card__image,
.movie_image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
}

/* .movie__card:hover {
  opacity: 0.5;
} */

/* movie card detials */
.movie__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 1em;
}
/* .movie__image {
  justify-self: start;
  display: flex;
  flex-direction: row;
  object-fit: contain;
  width: 200px;
} */
.movie__descriptions {
  margin-left: 1em;
  display: flex;
  margin-top: 2em;
  max-width: 400px;
  /* align-items: center; */
  justify-content: start;
  flex-direction: column;
  height: 550px;
}
.movie__title {
  font-size: 3rem;
  margin-bottom: 0.2em;
  font-weight: bold;
}
.movie__details {
  font-size: 1.5rem;
  color: var(--main-gray-color);
  margin-bottom: 1em;
}
.movie__synopsis {
  font-size: 1.2rem;
  font-weight: 400;
}

.movie__button {
  align-items: center;
  background-color: crimson;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-size: 16px !important;
  padding: 4px 20px 4px 8px;
  align-self: flex-start;
  margin-top: 0.9em;
  border: none;
  padding: 0.5em 1em;
}

.loading__card {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.loading__card__image {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(90deg, #a0a0a0, silver 50%, #a0a0a0);
  background-size: 200% 100%;
  -webkit-animation: skeleton-loading-animation 1.5s ease-in-out infinite;
  animation: skeleton-loading-animation 1.5s ease-in-out infinite;
  border-radius: 5px;
}

@keyframes skeleton-loading-animation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media (min-width: 580px) {
  .hero {
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    align-items: center;
  }

  .navbar {
    padding: 1.3em 0.9em;
    justify-content: center;
  }
  .sidebar__mobile {
    display: block;
    margin-left: auto;
  }
  .navbar__icon {
    display: none;
  }

  .sidebar__list {
    display: flex;
    align-items: center;
  }
  .sidebar__list__item {
    padding: 0;
    margin-right: 0.8em;
  }
  .sidebar__list__item:hover {
    text-decoration: underline;
  }
  .navbar__search {
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .navbar__search__button {
    position: relative;
    padding: 0.5em;
  }

  .movie__search {
    width: 350px;
    padding: 0.5em 1.5em;
  }

  .movie__search__title,
  .hero__title {
    font-size: 1.8rem;
  }
  .movie__search__value {
    font-size: 1.8rem;
  }
  .card__container {
    display: grid;
    margin-top: 1em;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    justify-items: center;
  }
  .movie__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 1em;
  }
  .movie__descriptions {
    margin-left: 1.5em;
  }
  .movie__image {
    width: 350px;
  }
}
